sample/abi-telesales-routing/src/main/mule/abi-telesales-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    
	<flow name="abi-telesales-api-main">
    
        <http:listener config-ref="abi-telesales-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="abi-telesales-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="abi-telesales-api-console">
        <http:listener config-ref="abi-telesales-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="abi-telesales-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\telesalesRouting:abi-telesales-api-config">
		<salesforce:query doc:id="4b496f31-83dd-43ef-a58e-1f410085242e" config-ref="Salesforce_Config" doc:name="Query">
			<salesforce:salesforce-query><![CDATA[SELECT AssigneeId,Assignee.WSLRNbrRouteNbr__c FROM PermissionSetAssignment where PermissionSet.Name = 'TeleSales_Basic' and Assignee.WSLRNbrRouteNbr__c!=null and AssigneeId!=null limit 20]]></salesforce:salesforce-query>
		</salesforce:query>
		
		<ee:transform doc:name="Transform Message" doc:id="cfa817bd-9a7c-44a6-a29a-baa7b4b96aff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
payload map (payload01,index)-> {
	WSLRNbr:payload01.Assignee.WSLRNbrRouteNbr__c[0 to 4],
	SM : if(payload01.Assignee.WSLRNbrRouteNbr__c contains("R0")) substringAfter(payload01.Assignee.WSLRNbrRouteNbr__c,"R0") else if (payload01.Assignee.WSLRNbrRouteNbr__c contains("S0")) substringAfter(payload01.Assignee.WSLRNbrRouteNbr__c,"S0") else payload01.Assignee.WSLRNbrRouteNbr__c[5 to sizeOf(payload01.Assignee.WSLRNbrRouteNbr__c)-1],
	AssigneeId:payload01.AssigneeId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable doc:name="Set Variable" doc:id="9108a02c-bf9a-4a04-ac66-848a737d5060" variableName="initAcc" mimeType="application/json" value="[]"/>
		<foreach doc:name="For Each" doc:id="bd4b6d38-9624-44fb-b2b1-b5bb10dec78c" >
			<ee:transform doc:name="Transform Message" doc:id="0aff1b30-46c1-441f-9e76-5e52b0d8e141">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="result"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:query doc:id="8349eb47-668d-4d4a-baf4-96d817245b7f" config-ref="Salesforce_Config" doc:name="Query">
				<salesforce:salesforce-query><![CDATA[SELECT VIP_ID__c FROM teleUS_Source_Code_Mapping__c where AB_Whlsr_ID__c=':whlsrID'  limit 1]]></salesforce:salesforce-query>
				<salesforce:parameters><![CDATA[#[output application/java
---
{
	whlsrID : payload.WSLRNbr
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="Transform Message" doc:id="fc95c32c-a68a-4502-b70d-cb280bdf6782" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
sourcecode: payload.VIP_ID__c[0]]]></ee:set-payload>
				</ee:message>
				<ee:variables >
				</ee:variables>
			</ee:transform>
			<set-variable value="#[vars.result ++ payload]" doc:name="Set Variable" doc:id="58bcd4b3-bd73-4c75-a9d3-e697f9f096b0" variableName="acc" mimeType="application/json"/>
			<ee:transform doc:name="Transform Message" doc:id="65f8610d-b3f4-413a-a371-124f026f693c" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="initAcc" ><![CDATA[%dw 2.0
output application/json
---
vars.initAcc + vars.acc]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="960b9d32-c09e-4ede-9e15-c4edb8bd9d20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.initAcc]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\telesalesRouting\(WSLRNbrRouteNbr):abi-telesales-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="WSLRNbrRouteNbr">attributes.uriParams.'WSLRNbrRouteNbr'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\telesalesRouting\(WSLRNbrRouteNbr):abi-telesales-api-config" />
    </flow>
</mule>
